body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  margin: 60px auto;
  padding-top: 60px;
  background: #eaeaea;
}

.heading {
  color: #7c2529;
  font-size: 50px;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 20px !important;
}

.links {
  display: flex;
  justify-content: center;
  font-size: large;
}

.links a {
  margin: 30px;
  color: #997d22;
}
.paragraphs,
.contact {
  max-width: 850px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.5;
  color: #5e5b5b;
}

.paragraphs p {
  padding: 10px;
}

.photos-container {
  max-width: 850px;
  margin: 0 auto;
}

.photos-container img {
  flex: 1;
  height: 350px;
  width: 350px;
  object-fit: cover;
  box-shadow: 5px 5px 5px gray;
}

.photos {
  margin-left: -5px;
}

.homegage-croissant {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: 400px;
}
